<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>따라만 하세요! V-HERE!</title>
	<meta charset="utf-8">

	<meta name="viewport"
		  content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0" />
	<meta name="description" content="따라만 하세요! V-HERE!" />

	<meta name="theme-color" content="#f3f3f3" />

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-title" content="V-HERE" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<link rel="manifest" href="/manifest.json">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="/asset/js/pwa-install.js"></script>
	
	<script src="https://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7dd126d089655114a9710a985b46ec77"></script>
	
	<style>
	html,body {
		width:100%;
		height:100%;
	}
	</style>

	<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>
	<script>
		var userMessageToken = null;
		const firebaseConfig = {
			apiKey: "AIzaSyAcZqFrbjiHQTbGGFwDfQQyXs-fPVvar5g",
			authDomain: "v-here.firebaseapp.com",
			projectId: "v-here",
			storageBucket: "v-here.appspot.com",
			messagingSenderId: "326932770799",
			appId: "1:326932770799:web:7380545ca30e246583501a",
			measurementId: "G-3GKPNXGFEZ"
		};

		firebase.initializeApp(firebaseConfig);
		const messaging = firebase.messaging();
		messaging.getToken({vapidKey: "BIa44dda0rGkuXJiGb4J2qSCuEKFafOpX0TFZzCO0MZD_hS0HdH_m0QTosKYIJcO4_OYlWyXYi31aFUzXZXFMKg"})
				.then((currentToken) => {
					if(currentToken) {
						console.log(currentToken);
						$.post(`/api/notification/messaging-token/renew`, {
							token: currentToken
						})
						.done((data)=>{
							console.log(data);
						})
						.fail((e)=>{
							console.log(e)
						});
						userMessageToken = currentToken;
					}
				})
				.catch((e) => {
					alert(e);
					console.log(e);
				});
		messaging.onMessage((payload) => {
			if(payload.notification) {
				const notification = payload.notification;
				sendNotificationMessage(notification.title, notification.body);
			}
		});
	</script>
</head>
<body>

<div layout:fragment="content">
</div>

<div id="btn-install-pwa" class="alert alert-secondary alert-dismissible" style="position:fixed; bottom:0; width:100%; text-align:center; z-index: 999; display:none;">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<button class="btn btn-block btn-primary" onclick="javascript:installPWA();">앱 다운로드</button>
</div>
<!--
<button class="btn btn-block btn-primary" onclick="javascript:sendNotificationMessage('hi', 'hello');">Notification Test</button>
<button class="btn btn-block btn-primary" onclick="javascript:requestPermission();">알림허용 여부 체크</button>
-->

<script>
	if ('serviceWorker' in navigator) {
		navigator.serviceWorker.register('/sw.js')
				.then(registration => {
					// 서비스 워커 준비 상태가 아니라면 리로드
					if (!navigator.serviceWorker.controller) {
						window.location.reload();
					}
				});
	}

	function sendNotificationMessage(title, message) {
		navigator.serviceWorker.controller.postMessage({title, message});
	}

	function requestPermission() {
		Notification.requestPermission().then(permission => {
			alert(permission);
			if (permission === 'granted') {
				console.log('Notification permission granted');
			} else {
				console.warn('Notification permission denied');
			}
		});
	}
</script>

</body>
</html>