<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<div layout:fragment="content">

	<div class="jumbotron text-center">
		<h1>V - HERE</h1>
		<p>당신은 따라만 하세요!</p> 
	</div>
	
	<div class="container">
		<div
			th:if="${param.error}"
			class="alert alert-danger alert-dismissible fade show"
		>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>올바른 아이디와 패스워드를 입력해 주세요.</strong>
		</div>
		<div
			th:if="${param.logout}"
			class="alert alert-secondary alert-dismissible fade show"
		>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			<strong>로그아웃 되었습니다.</strong>
		</div>
		<form th:action="@{/user/login}" method="post">
			<div class="form-group">
				<input type="text" name="username" class="form-control" placeholder="아이디" />
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" placeholder="패스워드" />
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">로그인</button>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-secondary btn-block" onclick="javascript:window.location.href='/user/signup';">회원가입</button>
			</div>
		</form>
		<!--
		<button class="btn btn-block btn-primary" onclick="javascript:sendNotificationMessage('hi', 'hello');">Local Notification 발송테스트</button>
		<button class="btn btn-block btn-primary" onclick="javascript:getPushPermissionState();">알림권한 여부체크</button>
		<button class="btn btn-block btn-primary" onclick="javascript:requestPermission();">알림권한 허용요청</button>
		-->
	</div>

</div>
</html>
