<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<div layout:fragment="content">

	<script type="text/javascript">
	var submitSignup = ()=>{
		id = $('#inputId').val()
		pw = $('#inputPw').val()
		repw = $('#inputRePw').val()
		name = $('#inputName').val()
		
		if(id == '' || pw == '' || name == '') {
			alert('올바른 계정을 입력해 주세요 :(')
			return;
		}
		else if(pw != repw) {
			alert('패스워드가 일치하지 않습니다 :(\n\n패스워드를 다시 입력해 주세요')
			$('#inputPw').val('')
			$('#inputRePw').val('')
			return;
		}
		
		$.post(`/user/signup`, {
			id: id
			, pw: pw
			, name: name
		})
		.done((data)=>{
			alert('회원가입에 성공했습니다 :)')
			window.location.href='/'
		})
		.fail((e)=>{
			console.log(e)
			alert('잘못된 정보가 입력되었습니다 :(')
		})
	}
	</script>
	
	<div class="jumbotron text-center">
		<h1>V - HERE</h1>
		<p>환영합니다!</p> 
	</div>
	
	<div class="container">
		<div class="form-group">
			<input type="text" id="inputId" name="id" class="form-control" placeholder="아이디" />
		</div>
		<div class="form-group">
			<input type="password" id="inputPw" name="pw" class="form-control" placeholder="패스워드" />
		</div>
		<div class="form-group">
			<input type="password" id="inputRePw" class="form-control" placeholder="패스워드확인" />
		</div>
		<div class="form-group">
			<input type="text" id="inputName" name="name" class="form-control" placeholder="닉네임" />
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-block" onclick="javascript:submitSignup()">회원가입</button>
		</div>
	</div>
	
</div>
</html>